<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - CAC-Movies</title>
    <!-- Favicon -->
    <link rel="icon" href="../static/img/favicon.ico">
</head>

<body>
    <!-- Encabezado -->
    <header>
        <nav>
            <div class="logo">
                <a href="/"><span>CAC - Movies</span></a>
            </div>
        </nav>
    </header>

    <!-- Contenido -->
    <main>
        <!-- Formulario -->
        <section id="form-wrapper">
            <h2>Registro</h2>

            <form action="#" method="GET" id="formRegister" novalidate>
                <!-- Nombre -->
                <div class="form-control">
                    <label for="">Nombre</label>
                    <input type="text" name="firstname" id="firstname" required>
                </div>
                <div class="error" id="error-firstname"></div>

                <!-- Apellido -->
                <div class="form-control">
                    <label for="">Apellido</label>
                    <input type="text" name="lastname" id="lastname" required>
                </div>
                <div class="error" id="error-lastname"></div>

                <!-- Mail -->
                <div class="form-control">
                    <label for="">Mail</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="error" id="error-email"></div>

                <!-- Contraseña -->
                <div class="form-control">
                    <label for="">Contraseña</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="error" id="error-password"></div>

                <!-- Fecha de Nacimiento -->
                <div class="form-control">
                    <label for="">Fecha de Nacimiento</label>
                    <input type="date" name="birthdate" id="birthdate" required>
                </div>


                <!-- País -->
                <div class="form-control">
                    <select name="country" id="country" class="form-select">
                        <option value="">País</option>
                        <option value="AR">Argentina</option>
                        <option value="BO">Bolivia</option>
                        <option value="BR">Brasil</option>
                        <option value="CH">Chile</option>
                        <option value="CO">Colombia</option>
                        <option value="EC">Ecuador</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Perú</option>
                        <option value="UY">Uruguay</option>
                        <option value="VE">Venezuela</option>
                    </select>
                </div>

                <!-- Términos y Condiciones -->
                <div class="form-terms">
                    <div class="terms">
                        <input type="checkbox" id="terms" required>
                        <label for="">Acepto términos y condiciones.</label>
                    </div>
                </div>

                <!-- Botón de Registro -->
                <button type="submit">Registrarse</button>

                <!-- Link de ayuda -->
                <div class="form-help">
                    <a href="#">Necesitás ayuda?</a>
                </div>

            </form>

        </section>
    </main>

    <!-- Pie -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
    </footer>

</body>

</html>